
.interface-wrapper {
    text-align: center;
}

.textarea-container {
    position: relative;
    display: inline-block;
}

.interface-textarea {
    background-color: #1e1e1e;
    color: #fff;
    border: 2px solid #ff69b4;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    box-shadow: 0 0 10px #ff69b4;
    transition: box-shadow 0.3s ease-in-out;
}

.interface-textarea:hover {
    box-shadow: 0 0 20px #ff69b4;
}

.clear-button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: transparent;
    color: #ff69b4;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
    transition: color 0.3s ease;
}

.clear-button:hover {
    color: #ff1493;
}

.interface-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.file-label {
    background-color: #ff69b4;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.file-label:hover {
    background-color: #ff1493;
    transform: scale(1.1);
}

.interface-input {
    display: none;
}

.interface-button {
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.interface-button:hover {
    background-color: #ff1493;
    transform: scale(1.1);
}

.interface-button:active {
    background-color: #ff69b4;
    transform: scale(1);
}
